*.nav
*.snm
*.dvi 
*.toc 
*.aux 
*.gz 
*.out 
*.log 
*.bbl 
*.blg 
*.log 
*.spl 
*~ 
*.spl 
*.zip 
*.acn 
*.glo 
*.ist 
*.epub 
*.glsdefs  
*.lot 
*.fls 
*.lof 
*.fdb_latexmk
*.DS_Store
*.bcf
*.run.xml
*.pyg

__pycache__/
.ipynb_checkpoints/
es-api-key.txt